.footer{
    padding: 40px 16px;
    background-color: #09090b;
}
@media (min-width: 760px) {
  .footer { padding: 60px 40px; }   /* планшет */
}

@media (min-width: 1152px) {
  .footer { padding: 80px 140px; }  /* 1360px и выше */
}

@media (min-width: 1600px) {
  .footer { padding: 100px 180px; } /* для очень широких */
}
.footerContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}
@media (min-width: 1020px) {
  .footerContainer { grid-template-columns: repeat(4, 1fr); }   /* ≥1152px */
}
.footerCopy{
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2c2c2e;
    align-items:end;
    height: 47px;
}
.footerLinks{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 14px;
}
.link{
    cursor: pointer;
    transition: all 0.3s ease;
}
.link:hover{
    color: #eb6c36;
}